<!--<div style="text-align:center"><h1>Hello, World!</h1>
<h2>This is just a test.</h2></div>
-->
{% load attr_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Database Table</title>
  <style>
    body{
        background-color:#E0F4FF
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      border: 1px solid #ddd;
    }
  </style>
</head>
<body>
  <div style="text-align:center">
    <nav>
        <a href="admin" target="_blank">Admin Page</a>
        <br>
    </nav>
    <input type="search" placeholder="Search">
    <input type="button" value="Search!">
  </div>
  <h1>Table 1:City</h1>
  <table>
    <thead>
        <tr>
            {% for i in country_attributes %}<!--This is Django template language-->
                <th>{{i}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for c in country %}
            <tr>
                {% for i in country_attributes %}
                    <td>{{ c|get_attr:i }}</td><!--For this ,refer to the attr_filter.py file in templatetags folder-->
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
  </table>
</body>
</html>

